<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Не найдено</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <Result Status="404"
                    Title="404"
                    SubTitle="Страница не найдена.">
                <Extra>
                    <a href="/"><Button Type="primary">На главную</Button></a>
                </Extra>
            </Result>
        </LayoutView>
    </NotFound>
</Router>
